body {
  background-color: rgb(17, 17, 17);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}
#content {
  background-color: rgb(30, 30, 30);
  border: 5px solid none;
  padding: 20px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 80vw;
}

nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  background-color: black;
  width: 100vw;
  gap: 10px;
}

nav div {
  display: flex;
}

nav button {
  border: none 3px rgb(225, 107, 107);
  background-color: black;
  color: rgb(225, 107, 107);
  font-size: 20px;

  padding: 10px 20px;
}

#logo {
  width: 150px;
  margin-left: 40px;
}

.hours {
  white-space: pre-wrap;
}

.homeImage {
  width: 700px;
  border-radius: 14px;
}

.hoursContainer {
  border: solid 2px rgb(225, 107, 107);
  border-radius: 14px;
  width: 400px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 18px;
}

.locationContainer {
  border: solid 2px rgb(225, 107, 107);
  border-radius: 14px;
  width: 400px;
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.card {
  border: solid 2px rgb(225, 107, 107);
  border-radius: 14px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divMenu {
  display: flex;
  justify-content: space-between;
  width: 500px;
  /* gap: 30px; */
  align-items: center;
}

.price {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(225, 107, 107);
}

.description {
  font-size: 16px;
  font-weight: 700;
}

.imageMenu {
  border: solid 2px aliceblue;
  border-radius: 14px;
  width: 250px;
}

.menuList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
