body {
  background-color: rgb(17, 17, 17);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  min-height: 100vh;
}
#content {
  background-color: rgb(30, 30, 30);
  border: 5px solid none;
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 80vw;
}

nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  background-color: black;
  width: 100vw;
  gap: 10px;
}

nav div {
  display: flex;
}

nav button {
  border: none 3px rgb(225, 107, 107);
  background-color: black;
  color: rgb(225, 107, 107);
  font-size: 20px;

  padding: 10px 20px;
}

#logo {
  width: 150px;
  margin-left: 40px;
}

.hours {
  white-space: pre-wrap;
}

.homeImage {
  width: 700px;
  border-radius: 14px;
}

.hoursContainer {
  border: solid 2px rgb(225, 107, 107);
  border-radius: 14px;
  width: 400px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 18px;
}

.locationContainer {
  border: solid 2px rgb(225, 107, 107);
  border-radius: 14px;
  width: 400px;
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.card {
  border: solid 2px rgb(225, 107, 107);
  border-radius: 14px;
  padding: 1cqw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divMenu {
  display: flex;
  justify-content: space-between;
  width: 22vw;
  align-items: center;
}

.price {
  margin-top: 1cqw;
  font-size: 1cqw;
  font-weight: 700;
  color: rgb(225, 107, 107);
}

.description {
  font-size: 0.8cqw;
  font-weight: 700;
  text-align: center;
}

.dishName {
  font-size: 1.4cqw;
}

.imageMenu {
  border: solid 2px aliceblue;
  border-radius: 14px;
  width: 10vw;
}

.menuList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1cqw;
}

.contactContener {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.contactContener div {
  display: flex;
  align-items: center;
  gap: 1.3cqw;
  font-size: 1cqw;
  color: rgb(211, 210, 210) ;
}

.fa-instagram {
  font-size: 1.4cqw;
  color: rgb(134, 16, 134);
}

.fa-facebook {
  color: rgb(41, 41, 199);
  font-size: 1.4cqw;
}

.fa-twitter {
  color: rgb(48, 144, 182);
  font-size: 1.4cqw;
}

.fa-youtube {
  color: rgb(190, 2, 2);
  font-size: 1.4cqw;
}

footer {
  background-color: black;
  color: rgb(225, 107, 107);
  width: 100vw;
  text-align: center;
  margin-top: auto;
  padding: 1.2cqw;
}
