body {
  background-color: rgb(17, 17, 17);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}
#content {
  background-color: rgb(30, 30, 30);
  border: 5px solid none;
  border-radius: 25px;
  padding: 20px;
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 80vw;
}

nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  background-color: black;
  width: 100vw;
  gap: 10px;
}

nav div {
  display: flex;
  gap: 15px;
}

nav button {
  border: none 3px rgb(225, 107, 107);
  border-radius: 10px;
  background-color: rgb(17, 17, 17);
  color: rgb(225, 107, 107);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
}

#logo {
  width: 150px;
  margin-left: 40px;
}

.hours {
  white-space: pre-wrap;
}

.homeImage {
  width: 700px;
  border-radius: 14px;
}

.hoursContainer {
  border: solid 2px rgb(225, 107, 107);
  border-radius: 14px;
  width: fit-content;
  text-align: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.locationContainer {
  border: solid 2px rgb(225, 107, 107);
  border-radius: 14px;
  width: fit-content;
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}
